@model TSHPandaPortalAD.Models.Type_Model
<tr>
    <th scope="row">@Model.num</th>
    <td>@Model.Name</td>
    <td>@Model.Count</td>
    <td>

        @if (@Model.Deleted)
        {
            <span class="kt-badge kt-badge--inline kt-badge--danger">حذف شده</span>
        }
        else if (@Model.Disabled)
        {
            <span class="kt-badge kt-badge--inline kt-badge--warning">غیر فعال</span>
        }
        else if (!@Model.Disabled)
        {
            <span class="kt-badge kt-badge--inline kt-badge--success">فعال</span>
        }


    </td>
    <td>
        <span class="dropdown">
            @if (!@Model.Deleted)
            {
                <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">
                    <i class="la la-ellipsis-h"></i>
                </a>
            }

            <div class="dropdown-menu dropdown-menu-right">
                <span class="dropdown-item">

                    @if (!@Model.Disabled && !@Model.Deleted)
                    {
                    <button class="btn btn-bold btn-outline-warning" style="width: 100%;" data-toggle="modal" data-target="#PandaEditModal" ><i class="fa fa-moon"><span style="font-family: IRANSansWeb; padding-right: 5px;">غیرفعال کردن</span></i></button>
                    }

                </span>
                <span class="dropdown-item">

                    @if (!@Model.Deleted)
                    {
                        <button onclick="return passID('@Model.Id')" class="btn btn-bold btn btn-outline-danger" style="width: 100%;" data-toggle="modal" data-target="#PandaDeletModal" data-id="@Model.Id"><i class="fa fa-eraser"><span style="font-family: IRANSansWeb; padding-right: 5px;">حذف</span></i></button>
                    }

                </span>
                <span class="dropdown-item">
                    @if (!@Model.Deleted && @Model.Disabled)
                    {
                        <a href="@Url.Action("Enable","Panel",new {id=@Model.Id})" class="btn btn-bold btn btn-outline-success" style="width: 100%;" ><i class="fa fa-check"><span style="font-family: IRANSansWeb; padding-right: 5px;">فعال سازی</span></i></a>
                    }
                </span>
            </div>
        </span>

    </td>
</tr>


