@model TSHPandaPortalAD.ModelView.SetTypeModelView

@{
    ViewBag.Title = "SetType";
    Layout = "~/Views/masters/webMaster.cshtml";
}

<!-- begin:: Subheader -->

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <div class="kt-subheader__breadcrumbs">
                <a href="." class="kt-subheader__breadcrumbs-home" style="display: inline-flex;">
                    <h3 class="kt-subheader__title">داشبورد</h3>

                    <span class="kt-subheader__separator kt-hidden"></span>


                    <i class="flaticon2-shelter"></i>
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" class="kt-subheader__breadcrumbs-link">دسته بندی اصلی محصولات</a>

            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
            </div>
        </div>
    </div>
</div>

<!--end:: Subheader -->

<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="row">
        <div class="col">
            <div class="alert alert-light alert-elevate fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
                <div class="alert-text">
                    توجه داشته باشید که پس از ویرایش دسته بندی اصلی محصولات کلیه محصولات موجود در آن دسته بندی تقییر خواهند کرد
                    <br />
                    <span>
                        بخش <span class="kt-badge kt-badge--inline kt-badge--warning">غیرفعال کردن</span> تمامی محصولات زیر شاخه آن دسته بندی را از دید کاربران مخفی میکند
                    </span>
                    <br style="height: 10px;" />
                    <span>
                        بخش <span class="kt-badge kt-badge--inline kt-badge--danger">حذف</span> تمامی محصولات زیرشاخه آن دسته بندی را <span class="kt-badge kt-badge--inline kt-badge--danger">حذف</span> خواهد کرد
                    </span>

                </div>
            </div>
        </div>
    </div>
    <!--START : TBLS-->
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    دسته بندی اصلی محصولات
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin::Section-->
            <div class="kt-section">
                @if (!Model.HasChange)
                {
                    <div id="ERRAlertNew" class="alert alert-solid-danger alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert" style="display: none;">
                        <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
                        <div class="alert-text">مقدار ورودی باید پرشده باشد!</div>
                        <div class="alert-close">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="la la-close"></i></span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>افزودن به دسته بندی اصلی : </label>
                        <input type="text" class="form-control" id="inputNew" placeholder="دسته بندی موردنظر را وارد نمایید">
                    </div>
                    <div id="SuccesAlertNew" class="alert alert-solid-success alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert" style="display: none;">
                        <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
                        <div class="alert-text">با موفقیت ثبت شد!</div>
                        <div class="alert-close">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="la la-close"></i></span>
                            </button>
                        </div>
                    </div>
                }
                else
                {
                    <!--===================================================================================================================================================-->
                    <!--edit-->
                    <div id="ERRAlertEdit" class="alert alert-solid-danger alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert" style="display: none;">
                        <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
                        <div class="alert-text">مقدار ورودی باید پرشده باشد!</div>
                        <div class="alert-close">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="la la-close"></i></span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label><span>ویرایش : </span><span>@Model.Edit_Name</span></label>
                        <input type="text" class="form-control" id="inputEdit" placeholder="ویرایش @Model.Edit_Name">
                    </div>
                    <div id="SuccesAlertEdit" class="alert alert-solid-success alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert" style="display: none;">
                        <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
                        <div class="alert-text">با موفقیت ثبت شد!</div>
                        <div class="alert-close">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="la la-close"></i></span>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                @if (@Model.HasChange)
                {
                    <button class="btn btn-primary" onclick="return SubmitedType('new','0')">ثبت</button>
                }
                else
                {
                    <button class="btn btn-primary" onclick="return SubmitedType('edit','<%=model.ChangeID %>')">ثبت</button>
                }
            </div>
        </div>
        <!--end::Form-->
    </div>
    <!--END : TBLS-->
    <!--START : TBLS-->
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    دسته بندی های اصلی ثبت شده
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">

            <!--begin::Section-->
            <div class="kt-section">
                <span class="kt-section__info">
                    لیست تمامی دسته بندی های اصلی را در جدول زیر میتوانید مشاهده کنید.
                </span>
                <div class="kt-section__content">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>نام دسته بندی</th>
                                <th>تعداد محصول این دسته بندی</th>
                                <th>وضعیت</th>
                                <th>اقدامات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model.TypeModels)
                            {
                                @Html.Partial("_SetTypeItem", item);
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!--end::Section-->
        </div>
        end::Form
    </div>
    <!--END : TBLS-->
  
</asp:Content>
